<header>
    <div class="header-container">
        <a href="/homeAutenticacion#hero" class="logo-wrapper">
            <div class="logo-circle">
                FAST<br>COMP
            </div>
            <div class="logo-title">
                <h1>FastComponents</h1>
            </div>
        </a>
        <nav>
            <a href="/menu">Ordenes de compras</a>
            <a href="/homeAutenticacion#Como-ayudar">Temas a abordar</a>
            <a href="/cambiar_contraseña">Cambiar contraseña</a>
            <a href="/logout">Cerrar Sesion</a>
        </nav>
    </div>
</header>
